.brands {

    &__container {
        margin: 160px auto;
    }

    &__title {
        @include fontStyle($fontOpenSans,700, 28);
        text-align: center;
        color: $colorDarkBlue;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }

    &__icon {

        &--wrapper {
            @include flexCenter;
            max-height: 100px;
        }
    }
}