.intro {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 250px;

    &__container {
        margin: 0 auto;
    }

    &__title {
        @include fontStyle($fontOpenSans, 700, 60);
        color: $colorDarkBlue;
        text-transform: capitalize;
        text-align: center;

        &--mod {
            color: $colorHoverBlue;
        }
    }

    &__button {
        margin: 40px auto 0;
        @include flexCenter;
    }

    &__pic {
        width: 1340px;

        &--wrapper {
            padding-top: 80px;
        }
    }
}