$colorDarkBlue: #1B2534;

$colorSemiDarkBlue: #283343;

$colorExtraDarkBlue: #161D2D;

$colorHoverBlue: #1d9bf5;

$colorActiveBlue: #005da0;


$colorDarkGrey: #606060;

$colorGrey: #ABABAB;

$colorBackgroundGrey: #F6F6F6;


$colorWhite: #FFFFFF;

$colorBlack: #000000;


$fontOpenSans: 'Open Sans', sans-serif;
